html{margin: 0;padding:0}

body{margin: 0;padding: 40px 80; color: #ffe;font-size:50px;}

.aqi_good{background: #9c6;}

.aqi_normal{background: #cc9;}

.aqi_bad{background: #c99;}

.aqi_harm{background: #903;}

.aqi_hell{background: #636;}


.big-text{font-size:100px;}

.location{font-size: 40px;}

#weather{width:50%;float:left;}
#aqi{width:50%;float:left;}
#date{text-align: right;margin-bottom:0.5em;}
ul#future{clear:both;width:100%;margin: 0em;padding:0;}
#future li{float:left;list-style: none;font-size:0.5em;margin:1em 1.5em 0 0}
