html{margin: 0;padding:0}

body{margin: 0;padding: 40px 40px 0 60px; color: #ffe;font-size:50px;}

.aqi_good{background: #9c6;}

.aqi_normal{background: #cc9;}

.aqi_bad{background: #c99;}

.aqi_harm{background: #903;}

.aqi_hell{background: #636;}


.big-text{font-size:100px;}

.extra{opacity: 0.7;}

.center{text-align: center;}

.location{font-size: 40px;}

.source{font-size: 32px;}

#date{text-align: right;margin-bottom:0.5em;}
.forecast{margin: 0em;padding:0;height:auto; font-size: 24px;}


#shici{margin: 0;padding-left:0em;font-size:0.5em;float:left;}
#shici_author{text-align:right;margin-top:0.5em;}

#shici #full_content {
  text-align: left;
  color: #fff;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  display: none;
  background: #333;
  padding: 2em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}